<div class="flex flex-row items-center">
    <span>Filtros</span>
    <form [formGroup]="filterForm">
        <mat-button-toggle-group name="Estado de tareas" aria-label="Font Style" class="ml-3" formControlName="filter">
            <mat-button-toggle [value]="-1">Todas</mat-button-toggle>
            <mat-button-toggle [value]="taskStatus.Complete">Completadas</mat-button-toggle>
            <mat-button-toggle [value]="taskStatus.Pending">Pendientes</mat-button-toggle>
        </mat-button-toggle-group>
    </form>
</div>
<div class="flex flex-wrap justify-center align-middle mt-2 pt-2 w-full bg-blue-50 rounded-md md:grid md:grid-cols-3 md:gap-4 overflow-y-auto max-h-96">
    <app-task *ngFor="let task of tasks()" [task]="task" class="w-full md:w-auto p-3 h-fit md:h-fit"></app-task>
</div>